<div class="bg-gray-700 flex ">
    <img class="p-3 rounded-sm object-cover h-28 w-28 " src="{{board.system.photoUrl}}" alt="{{board.name}}">
  <div class="text-white mt-2 space-y-2 flex-grow">
    <p class="text-sm">{{board.name}}</p>
    <p class="text-xs">{{board.system.name}}</p>
    <p class="text-xs">{{board.master.name}}</p>
    <p class="text-xs" >Sessão Atual: {{board.currentSection}}</p>
  </div>
</div>
