@if(size==='small')
  @set('button_size', 'w-10 h-10')
@elseif(size==='medium')
  @set('button_size', 'w-12 h-12')
@else
  @set('button_size', 'w-14 h-14')
@endif

<button
  class="p-0 {{button_size}} bg-{{color}} rounded-full hover:bg-{{hover}} active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
  <i class="fa-"></i>
  {{{ await $slots.icon() }}}
</button>
