<div class="hex flex relative" style="-webkit-clip-path: polygon(50% 1%, 95% 25%, 95% 75% ,50% 99%, 5% 75%, 5% 25%);
clip-path: polygon(50% 1%, 95% 25%, 95% 75% ,50% 99%, 5% 75%, 5% 25%);">
  @if(photoUrl)
    <img class="w-full h-auto block object-cover" src="{{photoUrl}}" alt="some">
  @else
    <img class="w-full h-auto block object-cover" src="{{asset('assets/images/user-avatar.jpg')}}" alt="some">
  @endif
</div>