<div class="hexagon flex relative">
  @if(photoUrl)
    <img class="w-full h-auto block object-cover" src="{{photoUrl}}" alt="some">
  @else
    <img class="w-full h-auto block object-cover" src="{{asset('assets/images/user-avatar.jpg')}}" alt="some">
  @endif
</div>