@layout('layouts/main')
@section('title')
  Taverna De Mordor - Equipe
@endsection

@section('content')
  <ul>
    <li>Manuel Antunes</li>
    <li>Wendel Ernandes</li>
    <li>Victor Lucas</li>
  </ul>
@endsection
