<footer class="footer bg-white relative pt-1 border-b-2 border-gray-800">
  <div class="container mx-auto px-6">
      <div class="mt-2 border-t-2 border-gray-300 flex flex-col items-center">
          <div class="sm:w-2/3 text-center py-6">
              <p class="text-sm text-gray-800 font-bold mb-2">
                  © 2021 <a href="https://github.com/Manuel-Antunes">Manuel-Antunes</a>
              </p>
          </div>
      </div>
  </div>
</footer>
