<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/images/favicon.ico" rel="icon" type="image/ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
  @!section('extra-style')
  @entryPointStyles('app')
  @entryPointScripts('app')
  <title>
    @!section('title')
  </title>

</head>
<body>
  <div class="root flex flex-col min-h-screen justify-between">
      <div>
        @if(!!flashMessages.get('info'))
        <span class="alert-spam info-message">
          <p>{{ flashMessages.get('info') }}</p>
        </span>
        @endif

        @if(!!flashMessages.get('error'))
        <span class="alert-spam alert-message absolute top-14 right-5 z-50">
          @each(error in flashMessages.get('error'))
            @!component('components/alert',{
            message: error,
            title: "Oops",
            type: "error"
          })
          @endeach
        </span>
        @endif
        @include('partials/navbar.edge')
        @!section('content')
      </div>
      @include('partials/footer.edge')
  </div>
  @!section('extra-script')
</body>
</html>
