@layout('layouts/main')

@section('title')
    Mesas
@endsection

@section('content')
    <div class="mx-auto from-blue-400 rounded-lg to-blue-800 shadow-2xl ring-1 ring-gray-900/5 sm:max-w-lg sm:mx-auto">
        oi
    </div>
@endsection

